<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel="stylesheet" href="/styles.css">
  <title>Pitchr</title>
</head>
<body>
  <%- include('_header') %>

  <div class="px-12 mx-auto max-w-xl">
    <h1 class="text-4xl my-6 font-bold">Latest Deck</h1>
    <div class="flex items-center justify-between">
      <h3 class="font-bold text-lg"><%= deck.title %> by <%= deck.author %></h3>
      <p class="text-gray-500"><%= deck.uploadedAt %></p>
    </div>
    <ul role="list" class="divide-y divide-gray-200 ">
      <% deck.pages.forEach(page => { %>
      <li class="py-4">
        <div class="space-x-3">
          <div class="space-y-1">
            <img class="h-full" src="<%= page %>" alt="First Pitch Deck page">
          </div>
        </div>
      </li>
      <% }) %>
    </ul>
  </div>

</body>
</html>
